@page {
  size: landscape;
}

html {
  font-size: 16px;
}

body,
#event .menu,
#event .menu p {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "MS Mincho";
  src: url("MSMincho.ttf");
}

#event {
  display: grid;
  justify-items: center;
  align-items: center;
  place-items: center;
  min-height: 100vh;
  font-family: "MS Mincho", "SimSong", serif;
  font-size: 100%;
  padding: 0;
  margin: 0;
  letter-spacing: 0.05rem;
}

#event .menu {
  box-sizing: border-box;
  clear: both;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  position: absolute;
  top: 0;
  width: 100%;
}

#event .list {
  padding: 4rem 1rem 2rem;
}

#event section,
#event p {
  padding: 0;
}

#event p {
  padding: 0;
  margin: 0.25rem auto;
  max-width: 1000px;
}

#event a {
  display: inline-block;
  padding: 0.2rem;
  line-height: 150%;
}

#event a:hover {
  color: red;
}

#event section h1 {
  font-size: 100%;
  padding: 0;
  margin: 0;
}

#event b {
  font-size: 150%;
  font-weight: normal;
}

#event u {
  font-size: 125%;
  font-weight: bold;
  padding: 0 0.5rem;
}

#event .tt {
  border: 1px solid;
  padding: 0.1rem 0.2rem;
}

#event .open {
  font-family: "Arial Narrow", Arial, sans-serif;
  font-style: oblique;
}

@media print {
  html {
    font-size: 1.75vh;
  }

  #floor {
    display: none;
  }
}
